@model string
@{
    Layout = null;
}

<!DOCTYPE hmtl>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <div>
        @Model Mundo (desde a view)
    </div>
</body>

</html>